body {
    font-size: medium;
}
a,
a:hover,
a:visited,
a:active {
    text-decoration: none;
}

.text-block {
    padding: 15px 20px;
}

.font-size-small {
    font-size: small;
}
.font-size-medium {
    font-size: medium;
}
.font-size-large {
    font-size: large;
}

.size-small {
    padding: 10px 15px;
}
.size-medium {
    padding: 15px 20px;
}
.size-large {
    padding: 20px 25px;
}