body {
    width: 80%;
    font-size: medium;
}
a,
a:hover,
a:visited,
a:active {
    text-decoration: none;
}
.button-block,
.text-block {
    padding: 15px 20px;
    max-width: 150px;
}
.block {
}

.small {
    font-size: small;
}
.medium {
    font-size: medium;
}
.large {
    font-size: large;
}